<div class="container">
  <header class="senior-header">
    <button type="button" class="header-button" (click)="goBack()">
      ← {{ 'NAV.BACK' | translate }}
    </button>

    <a routerLink="/home" class="header-home">
      🏠 {{ 'NAV.HOME' | translate }}
    </a>

    <span class="spacer"></span>

    <button type="button" class="lang-button" (click)="switchLang('fr')">FR</button>
    <button type="button" class="lang-button" (click)="switchLang('en')">EN</button>

    <a routerLink="/login" *ngIf="!(isLogged$ | async)" class="header-link">
      {{ 'NAV.LOGIN' | translate }}
    </a>

    <button type="button" *ngIf="isLogged$ | async" class="header-button" (click)="logout()">
      {{ 'NAV.LOGOUT' | translate }}
    </button>
  </header>

  <router-outlet></router-outlet>
</div>