<div class="senior-home-page page">
  <section class="card senior-welcome">
    <h1>{{ 'HOME.WELCOME' | translate }}</h1>
    <p>{{ 'HOME.QUESTION' | translate }}</p>
  </section>

  <section class="senior-menu">
    <button
      *ngFor="let item of items"
      class="senior-menu-button"
      [routerLink]="item.route"
      type="button"
    >
      <span class="senior-menu-icon">{{ item.icon }}</span>
      <span class="senior-menu-label">{{ item.label }}</span>
      <span class="senior-menu-description">{{ item.description }}</span>
    </button>
  </section>
</div>