<div class="senior-home-page page">
  <section class="card senior-welcome">
    <h1>{{ 'HOME.WELCOME' | translate }}</h1>
    <p>{{ 'HOME.QUESTION' | translate }}</p>
  </section>

  <section class="senior-menu">
    <div class="home-grid">
      <button
        *ngFor="let item of items"
        class="home-tile"
        [routerLink]="item.route"
      >
        <div class="icon">{{ item.icon }}</div>
        <span>{{ item.label | translate }}</span>
      </button>
    </div>
  </section>
</div>